* {
  box-sizing: border-box;
}

.adv-audit-results {
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  background: #fff;
  padding: 1.5rem 3rem;
  margin-bottom: 3rem;
  font-family: "Proxima Nova", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
}

.adv-audit-results header {
  padding-bottom: 0.75rem;
  border-bottom: 0.0625rem solid #ccc;
}
.adv-audit-results header h3 {
  font-size: 1.35rem;
  line-height: 1.333;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.score-container {
  overflow: hidden;
  padding: 0.75rem 0;
}

.score-container .score-point{
  float: left;
}

.score-container .aq-circle{
  width: 7.5rem;
  height: 7.5rem;
  font-size: 54px;
  line-height: 8.025rem;
  margin: 0.75rem;
  border-radius: 50%;
  color: #000;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}
.aq-circle--success {
  background-color: #b0e164;
}
.aq-circle--warning {
  background-color: #ffee58;
}
.aq-circle--danger {
  background-color: #ffa3ae;
}
.score-container .description{
  overflow: hidden;
  padding: 0.75rem;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.category-list h4 {
  color: inherit;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.33333;
  margin: 0;
  padding: 0.75rem;
}

.adv-category-item {
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.category-list .adv-category-item {
  border-top: 0.0625rem solid #ccc;
}

.adv-category-item .aq-dataset__data {
  float: left;
}

.adv-category-item .cat-view {
  float: right;
  text-align: right;
}

.category-list .adv-category-item .aq-dataset__data {
  padding: 0.75rem;
}

.category-list .flex-10 {
  width: 10%;
}

.category-list .flex-20 {
  width: 20%;
}

.category-list .flex-30 {
  width: 30%;
}

.category-list .flex-50 {
  width: 50%;
}

.core-container + .adv-category-item .report-view-detailed {
  display: block;
  padding: 0.75rem;
  border: 0.0625rem solid #ccc;
  background: #fff;
  color: rgba(0,0,0,0.87);
  text-align: center;
}

.core-container + .adv-category-item .report-view-detailed h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}