* {
  box-sizing: border-box;
}

.adv-audit-results {
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  background: #fff;
  font-family: "Proxima Nova", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
}

.adv-audit-results header {

  border-bottom: 0.0625rem solid #ccc;
}
.score-container {
  overflow: hidden;
}

.score-container .score-point {
  float: left;
}

.score-container .aq-circle {
  width: 7.5rem;
  height: 7.5rem;
  font-size: 54px;
  line-height: 8.025rem;
  margin: 0.75rem;
  border-radius: 50%;
  color: #000;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}

.aq-circle--success {
  background-color: #b0e164;
}
.aq-circle--warning {
  background-color: #ffee58;
}

.aq-circle--danger {
  background-color: #ffa3ae;
}

.status-failed .report-title {
  background: #ffa3ae;
}

.status-passed .report-title {
  background: #b0e164;
}

.status-skipped .report-title,
.status-ignored .report-title {
  background-color: #ccc;
}

.score-container .description {
  overflow: hidden;

  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.category-list h4 {
  color: inherit;
  font-weight: 400;
  line-height: 1.33333;
  margin: 0;

}

.adv-category-item {
  overflow: hidden;
  font-weight: 400;
  line-height: 1.5;
}

.category-list .adv-category-item {
  border-top: 0.0625rem solid #ccc;
}

.adv-category-item .aq-dataset__data {
  float: left;
}

.adv-category-item .cat-view {
  float: right;
  text-align: right;
}

.category-list .adv-category-item .aq-dataset__data {

}

.category-list .flex-10 {
  width: 10%;
}

.category-list .flex-20 {
  width: 20%;
}

.category-list .flex-30 {
  width: 30%;
}

.category-list .flex-40 {
  width: 40%;
}

.category-list .flex-50 {
  width: 50%;
}

.category-list .detailed-view {
  width: 100%;
  overflow: hidden;
}

.category-list .detailed-view .report-items {
  margin-bottom: 20px;
}

.global-info-container .report-view-detailed {
  float: right;

  border: 0.0625rem solid #ccc;
  background: #fff;
  color: rgba(0,0,0,0.87);
  text-align: center;
}

.global-info-container .report-view-detailed:focus,
.global-info-container .report-view-detailed:hover {
  text-decoration: none;
  background: #ccc;
}

.global-info-container .cat-view {
  float: none;
  overflow: hidden;
  text-align: center;
}

.global-info-container .detailed-view {
  overflow: hidden;
  width: 100%;
  margin: -1px 0 2rem;
}

.global-info {
  border: 1px solid #ccc;

}

.global-info h2 {
  margin: 0 0 16px;

}

.global-info p {
  margin: 0 0 16px;
}

.audit-reason {
  overflow: hidden;
  margin-top: 0.75rem;
}

.audit-reason:first-child {
  margin: 0;
}

.audit-reason p {
  margin: 0 0 16px;
}

.audit-reason ul,
.audit-reason ol {

}

.report-title {
  overflow: hidden;

  position: relative;
  cursor: pointer;
}

.report-title:after {
  content: '';
  position: absolute;
  right: 16px;
  top: 14px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;

  transform: rotate(45deg);
}

.report-title.active:after {
  transform: rotate(-135deg);
  top: 20px;
}

.report-content {
  border: solid #ccc;
  border-width: 0 1px 1px;
  overflow: hidden;

  display: none;
}

.audit-reason.active .report-content {
  display: block;
}

.high {
  color: #e62600;
}

.normal {
  color: #ff9900;
}

.low {
  color: #23ad0e;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 35px;
}
h1, h2, h3 {
  color: #ffcc01;
}
