{#
/**
 * @file adv_audit.html.twig
 * Default theme implementation to present Audit Result entity data.
 *
 * This template is used when viewing Audit Result entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_adv_audit()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('adv_audit') }}>
  Insight score is a rating given to your site by Acquia's Insight tool. Insight assigns different weights to each alert, the reported percentage and the number of resolved issues do not directly relate to one another.
  {{ content.audit_results }}
</div>